@keyframes fallAway {
  100% {
    transform: rotateZ(0deg);
    top: 0;
    opacity: 1;
  }
  25% {
    transform: rotateZ(-15deg);
  }
  0% {
    top: 20px;
    transform: rotateZ(-5deg);
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1);

    opacity: 1;
    transform-origin: 125px 125px;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  0% {
    transform: scale(0);
    opacity: 0;
  }
}

.item.fall {
  animation: zoom forwards 0.5s ease-out 1;
}

.container-category {
  display: flex;
}
.filter-product {
  position: relative;
  left: 73px;
  top: 12vh;
}

.my-filter {
  width: 20vw;
  margin-top: 43px;
  border-radius: 25px;
}
.my-category {
  width: 20vw;
  height: 27.4vh;
  margin-top: 43px;
}
.card-product {
  flex-grow: 1;
  position: relative;
  margin-left: 10vw;
  top: 12vh;
}

@media (max-width: 1050px) {
  .container-category {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
  }
  .my-filter {
    width: 30vw;
  }
  .my-category {
    width: 30vw;
    height: 40vh;
    margin-right: 5rem;
  }
}

@media (max-width: 800px) {
  .filter-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    margin-right: 30vw;
  }
  .my-filter {
    width: 60vw;
  }
  .my-category {
    width: 60vw;
    height: 30vh;
    margin-left: 5rem;
  }
  .card-product {
    right: 3vw;
  }
}
